## Detect which `ls` flavor is in use
#if ls --color > /dev/null 2>&1; then # GNU `ls`
#  colorflag="--color"
#else # OS X `ls`
#	colorflag="-G"
#fi

## Always use color output for `ls`
#alias ls="command ls ${colorflag}"

## Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
#alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g; sudo gem update'

