## Detect which `ls` flavor is in use
#if [[ "$OSTYPE" =~ ^darwin ]]; then
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else
  colorflag="-Gp"
fi

## alias for `ls`
alias ls="command ls ${colorflag}"

## Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
#alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g; sudo gem update'

## Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
## (useful when executing time-consuming commands)
#alias badge="tput bel"

# Just randoms
#alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"
