# Set the default editor
if [ -f /usr/local/bin/subl ]; then
    export EDITOR='subl -w'
elif [ -f /usr/local/bin/mate ]; then
    export EDITOR='mate'
    export GIT_EDITOR='mate -wl1'
else
  export EDITOR="vim"
fi

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Make some commands not show up in history
export HISTCONTROL=ignoredups:erasedups  # no duplicate entries
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

