<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tmux.spotweb</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>1</integer>
	<key>Program</key>
	<string>$HOME/.bin/launch_tmux_sync_spotweb.sh</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
