<?php

// sickbeard settings
$ip = "website or ip:8081";
$api = "1234";

// sabnzbd settings -- Optional
$sab_enabled = "0"; //Change the value from 0 to 1 to enable sabnzbd
$sab_ip = "website or ip:8082";
$sab_api = "1234";

// trakt.tv settings -- Optional
// Used to grab alternate images and show info
$trakt_enabled = "0"; //Change the value from 0 to 1 to enable trakt
$trakt_api = "1234";

// plex settings -- Optional
$plex_enabled = "0";
$plex_ip = "website or ip:32400";

// headphones settings -- Optional
$headphones_enabled = "0";
$headphones_ip = "website or ip:8181";
$headphones_api = "123";

// site name
$site_name = "Site Name";

?>